@import url('https://fonts.googleapis.com/css2? family= Justo & display=swap');

@font-face {
  font-family: 'Sarala Bold';
  src: url(fonts/Sarala-Bold.ttf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Sarala Regular';
  src: url(fonts/Sarala-Regular.ttf) format('truetype');
  font-weight: normal;
}
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Formatacao do corpo*/
body {
  font-size: 100%;
  background: #031a1b;
  font-size: 1em;
  transition: background 0.2 linear;
}

/* Formatacao do cabecalho*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #13ACB6;
  width: 100%;
  position: fixed;
  z-index: 1;
}

header > img {
  height: 60px;
  width: 60px;
  padding: 0px 5px;
  margin: 0px 30px 0px 50px;
}

nav {
  display: flex;
  gap: 39px;
}

nav > a {
  color: white;
  font-family:'Sarala Regular';
}

nav > a:hover {
  transition: 0.5s;
  color: black;
}

/* Formatacao da Parte 1 - Home*/

main {
  min-width: 300px;
  max-width: 1200px;
  margin: auto;
}

.section-1 {
  display: flex;
  flex: 1 1 300px;
  justify-content: center;
  width: 100%;
  font-family: 'Sarala Regular'
}

.content-left {
  color: white;
  font-size: 1em;
  margin-top: 10%;
  width: 50%;
}

.content-left h1 {
  margin-top: 60px;
  font-family: 'Sarala Bold';
  font-size: 2em;
  text-align: center;
  color: #13ACB6;
  max-width: 400px;
}

.content-left h2 {
  font-family: 'Sarala Bold';
  font-size: 1.25em;
  text-align: center;
  max-width: 400px;
}

.content-left p {
  margin: 25px;
}

.content-right {
  border-radius: 10px;
  background-color: #197AA1;
  box-shadow: 5px 5px 0px white;
  margin-top: 8%;
  padding: 10px;
  padding-right: 0;
  font-size: 1.3em;
  width: 50%;
  margin-right: -10%;
  flex-wrap: wrap;
}

.content-right p {
  display: flex;
  flex-direction: row;
  align-content: center;
  color: #fff;
  padding: 5px;
  margin-top: 2%;
  margin-right: 20%;
}

#img1 {
  margin-left: -10%;
  height: 400px;
  width: 400px;
  margin-top: 55%;
}

/* Formatacao da Parte 2 - Planeje*/
.section-2 {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  min-width: 350px;
  max-width: 700px;
  font-size: 25px;
  padding: 40px 10px;

}

.section-2 img {
  margin-top: 10%;
  height: 300px;
}

.section-2 h1 {
  font-size: 1.4em;
  font-family: 'Sarala Bold';
}

.section-2 p{
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 0.9em;
  padding: 5px;
  margin-top: 2%;
  background-color: #197AA1;
  box-shadow: 5px 5px 0px white;
  border-radius: 5px;
  font-family: 'Sarala Regular';
}

/* Formatacao da Parte 3 - Conheça colaboradores*/
article.cards {
  display: flex;
  padding: 32px;
}

article.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 256px;
  margin-left: 32px;
}

article.cards section.card:first-child {
  margin-left: 0;
}

article.cards section.card .icon {
  width: 8rem;
  height: 8rem;
}

article.cards section.card img {
  width: 100%
}

/* Começa a formatação do formulario captação de leading*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  height: 400px;
}

#Contato {
  font-size: 50px;
}

.form-paragrafo {
  font-size: 40px;
}

input {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  height: 60px;
  width: 700px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  gap: 2px;
}

form [type="submit"] {
  width: 5%;
  height: 50px;
  background-color: #f3f3b5;
  color: black;
  font-weight: bolder;
}

/* Começa a formatação do rodape*/
footer {
  height: 170px;
  width: 100%;
  background: #13ACB6;
}

.rodape-left {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  text-transform: unset;
  margin-top: 50px;
  text-align: center;
  color: #fff;
}

.rodape h2 {
  margin-left: 1%;
}

#rodape-img {
  margin-left: 3%;
  height: 90px;
  width: 90px;
}